:root {
  --button-border-width: 4px;
  --button-height: 1.5em;
  --button-active-color: #30de00;
  --button-hover-color: #78e3ff;
  --button-click-color: #34a0dd;
  --button-inactive-color: gray;
  --button-text-color: white;
}

div.submit_button{
	position: relative;
  height: var(--button-height);
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  background-color: var(--button-active-color);
  font-size: 34px;
  border: var(--button-border-width) solid black;
  color: var(--button-text-color);
  display: flex;
  flex-direction: row; 
}

div.submit_button > *{
	z-index: 2;
}

div.submit_button_inactive {
  background-color: var(--button-inactive-color);
  color: white;
}

div.submit_button:hover {
	cursor: pointer;
	background-color: var(--button-hover-color);
}

div.submit_button_inactive:hover {
	cursor: not-allowed;
	background-color: var(--button-inactive-color);
}

div.submit_button:active {
	background-color: var(--button-click-color);
}
