:root {
  --text-entry-inactive-border-color: red;
  --text-entry-border-color: black;
  --text-box-border-width: 3px;
  --text-box-font-size: 22px;
  --text-box-height: 48px;
}

.default_value {
  color: gray;
}

.new_value {
  color: black;
}

.active_border {
  border: var(--text-box-border-width) solid var(--text-entry-border-color);  
}

.inactive_border {
  border: var(--text-box-border-width) solid var(--text-entry-inactive-border-color);
}

textarea, input {
  height: var(--text-box-height);
  font-size: var(--text-box-font-size);
  font-weight: bold;
  width: 100%
}

textarea:focus, input:focus{
    outline: none;
}