:root {
  --bg-color: #eaf0f0;
  --font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --page-box-width: 53.69rem;
  --item-width: 51.30rem;
  --submit-button-image-size: 2.31rem;
  --large-spacer-height: 3.10rem;
  --small-spacer-height: 1.07rem;
  --h1-font-size: 1.91rem;
  --h2-font-size: 1.07rem;
  --line-height-font-size-ratio: 0.5;
}

body {
  margin: 0;
  font-family: var(--font);
}

.hidden {
  visibility: hidden;
}

.large_spacer {
	height: var(--large-spacer-height);
}

.small_spacer{
	height: var(--small-spacer-height);
}

#app {
	width: 100%;
	height: 100%;
	text-align: center;
}

#app_container {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: var(--bg-color);
}

.title_bar {
	display: flex;
	flex-direction: row;
}

#monero_logo {
	height: 64px;
	width: 64px;
}

h1{
	font-size: var(--h1-font-size);
}

h2 {
	font-size: var(--h2-font-size);
	font-style: italic;
}

h1, h2{
	margin-top: 0;
	margin-bottom: 0;
}

.deposit_viewer_page_box > * {
  width: 80%;
  margin: 0 auto;
}

.deposit_viewer_page_box > div {
	justify-content: center;
}